<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="logfile" fileName="logs/app.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}" />
    <target xsi:type="Console" name="logconsole"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
  </rules>
</nlog>
